global
    log stdout format raw local0
defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  50s
    timeout server  50s
frontend irods_front
    bind *:1247
    default_backend irods_back
peers sticktables
    bind :10000
    # 'haproxy' is the HAProxy server's hostname
    server haproxy
    table sticky-sessions type ip size 1m expire 60s
backend irods_back
    balance roundrobin
    stick match src table sticktables/sticky-sessions
    stick store-request src table sticktables/sticky-sessions
    server provider1 irods-catalog-provider:1247 check
    server provider2 irods-catalog-provider2:1247 check
    server provider3 irods-catalog-provider3:1247 check
